<?xml version="1.0"?>
<robot name="block" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Masseløs root for å unngå KDL-advarsel -->
  <link name="DUMMY"/>

  <!-- Kropp med masse/inerti -->
  <link name="block_link">
    <inertial>
      <mass value="30.0"/>
      <origin xyz="0 0 0"/>
      <!-- Boks 1x0.4x0.2 m, m=80 kg, CoM i origo:
           Ixx = 1/12*m*(0.4^2+0.2^2) = 1.3333
           Iyy = 1/12*m*(1.0^2+0.2^2) = 6.9333
           Izz = 1/12*m*(1.0^2+0.4^2) = 7.7333 -->
      <inertia ixx="1.3333" iyy="6.9333" izz="7.7333" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="1 0.4 0.2"/></geometry>
      <material name="gray"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="1 0.4 0.2"/></geometry>
    </collision>
  </link>

  <!-- Root = DUMMY -> block_link -->
  <joint name="dummy_to_block" type="fixed">
    <parent link="DUMMY"/>
    <child  link="block_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <gazebo>
    <plugin name="buoyancy" filename="/home/rocotics/ros2_ws/install/buoyancy_plugin/lib/libbuoyancy_plugin.so">
      <fluid_density>1025</fluid_density>
      <surface_z>0.0</surface_z>
      <link name="DUMMY">
        <waterplane_area>0.4</waterplane_area>
        <height>0.2</height>
        <linear_damping>60.0</linear_damping>
        <angular_damping>10.0</angular_damping>
        <k_righting>50.0</k_righting>
        <cob>
          <x>0</x>
          <y>0</y>
          <z>-0.05</z>
        </cob>
      </link>
    </plugin>
  </gazebo>

</robot>
