<?xml version='1.0' encoding='utf-8'?>
<robot name="ele306baat_V2">
    <link name="base_link">
        <inertial>
            <origin xyz="-0.5559095482269479 0.2000000910634447 0.10279641421288556" rpy="0.0 0.0 0.0" />
            <mass value="401.98177842954016" />
            <inertia ixx="7.487486301155805" iyy="34.040849901391766" izz="38.78250236940249" ixy="0.007294384644971785" iyz="6.673370513965438e-07" ixz="1.0570997716634842" />
        </inertial>
        <visual name="base_link_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/base_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="base_link_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/base_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_Base-v1">
        <inertial>
            <origin xyz="-3.50785263573333e-17 3.2205047237486456e-17 0.029999999999999933" rpy="0.0 0.0 0.0" />
            <mass value="3.6992253496019805" />
            <inertia ixx="0.0034217834483820206" iyy="0.0034217834483816966" izz="0.00462403168700253" ixy="1.1526424346236517e-16" iyz="2.7533655757593897e-18" ixz="-2.7399403517079433e-17" />
        </inertial>
        <visual name="5DOF_V2-v1_Base-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Base-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_Base-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Base-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_Base_tube2-v1">
        <inertial>
            <origin xyz="-1.6654054514900177e-18 3.325072459910882e-17 0.03054122508269446" rpy="0.0 0.0 0.0" />
            <mass value="0.9368169842982398" />
            <inertia ixx="0.0004542134596046459" iyy="0.00044058603181367347" izz="0.0002995690214890518" ixy="1.0927572052527721e-17" iyz="-9.780555404766658e-21" ixz="-6.891596942663357e-18" />
        </inertial>
        <visual name="5DOF_V2-v1_Base_tube2-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Base_tube2-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_Base_tube2-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Base_tube2-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_Base_tube-v1">
        <inertial>
            <origin xyz="4.7248414473679183e-17 3.957337929572082e-17 0.057500000000007746" rpy="0.0 0.0 0.0" />
            <mass value="1.7725454800176164" />
            <inertia ixx="0.0022304530623574763" iyy="0.002230453062356116" izz="0.0005539204625058387" ixy="-5.66792012332329e-17" iyz="3.9400584574481047e-17" ixz="2.5480589387290446e-19" />
        </inertial>
        <visual name="5DOF_V2-v1_Base_tube-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Base_tube-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_Base_tube-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Base_tube-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_Ledd1-v1">
        <inertial>
            <origin xyz="-6.753873604593077e-07 0.2134588694840161 0.025487981635571387" rpy="0.0 0.0 0.0" />
            <mass value="9.081005056378622" />
            <inertia ixx="0.11918586547638825" iyy="0.004785496154870996" izz="0.1195753968143904" ixy="3.9887786443593526e-07" iyz="-0.0024238492062195094" ixz="-2.9928866193076637e-09" />
        </inertial>
        <visual name="5DOF_V2-v1_Ledd1-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Ledd1-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_Ledd1-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Ledd1-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_Ledd2-v1">
        <inertial>
            <origin xyz="9.738045645997853e-09 0.1808883564974194 0.02553390149019094" rpy="0.0 0.0 0.0" />
            <mass value="7.488011932618477" />
            <inertia ixx="0.076854691499524" iyy="0.0036753264512904412" izz="0.07694224533843542" ixy="-1.0873018443745157e-08" iyz="-0.0015209339212538377" ixz="-2.6955421273972656e-09" />
        </inertial>
        <visual name="5DOF_V2-v1_Ledd2-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Ledd2-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_Ledd2-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Ledd2-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_Ledd-4-v1">
        <inertial>
            <origin xyz="0.020000000000004358 0.020000000000003616 0.017234320051566592" rpy="0.0 0.0 0.0" />
            <mass value="0.40962359507883317" />
            <inertia ixx="9.937381668031846e-05" iyy="9.93738166803096e-05" izz="0.00011088625479222827" ixy="1.2510862322193676e-18" iyz="-1.9775176354292115e-20" ixz="-1.1469673138770481e-17" />
        </inertial>
        <visual name="5DOF_V2-v1_Ledd-4-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Ledd-4-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_Ledd-4-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Ledd-4-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_fryer-complete-v1">
        <inertial>
            <origin xyz="0.18516803814723812 0.0074877264097060765 0.00021416620249091518" rpy="0.0 0.0 0.0" />
            <mass value="0.6371336836193273" />
            <inertia ixx="0.0006142619467787169" iyy="0.010186938591218588" izz="0.010294427459442155" ixy="-0.0012667326354611457" iyz="-2.2136922976051193e-07" ixz="2.2787122485625748e-05" />
        </inertial>
        <visual name="5DOF_V2-v1_fryer-complete-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_fryer-complete-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_fryer-complete-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_fryer-complete-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="5DOF_V2-v1_Ledd5-v1">
        <inertial>
            <origin xyz="5.791883797658625e-17 1.9831390820599319e-16 0.02500000000000081" rpy="0.0 0.0 0.0" />
            <mass value="0.3776292544385355" />
            <inertia ixx="0.00010758500113428109" iyy="0.00010758500113439714" izz="5.782447958594017e-05" ixy="-1.2697870912289562e-17" iyz="-1.1350424613618553e-20" ixz="-1.3866654853379093e-17" />
        </inertial>
        <visual name="5DOF_V2-v1_Ledd5-v1_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/meshes/5DOF_V2-v1_Ledd5-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="5DOF_V2-v1_Ledd5-v1_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="$(find usv_package)/$(find usv_package)/meshes/5DOF_V2-v1_Ledd5-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint name="5DOF_V2-v1_Base-v1_Revolute-1" type="continuous">
        <origin xyz="3.4449512753553793e-09 3.219265067855304e-09 0.05999999999999936" rpy="2.8608031150340146e-17 1.088186942308888e-15 1.583429200060294" />
        <parent link="5DOF_V2-v1_Base-v1" />
        <child link="5DOF_V2-v1_Base_tube2-v1" />
        <axis xyz="-6.162975822039155e-33 1.9721522630525295e-31 1.0" />
    </joint>
    <joint name="5DOF_V2-v1_Base_tube2-v1_Rigid-2" type="fixed">
        <origin xyz="3.4449512043011057e-09 3.219265067855304e-09 0.05699999999999616" rpy="1.583429200060294 -1.5707963267948961 0" />
        <parent link="5DOF_V2-v1_Base_tube2-v1" />
        <child link="5DOF_V2-v1_Base_tube-v1" />
    </joint>
    <joint name="5DOF_V2-v1_Ledd1-v1_Revolute-4" type="continuous">
        <origin xyz="-9.16609224077547e-10 0.37999999999999307 0.07499999504391575" rpy="-1.5707963267948963 0.012632873265397596 -2.226464974637764e-15" />
        <parent link="5DOF_V2-v1_Ledd1-v1" />
        <child link="5DOF_V2-v1_Ledd2-v1" />
        <axis xyz="-0.012633000000000004 -0.99992 -5.799401443819225e-33" />
    </joint>
    <joint name="5DOF_V2-v1_Ledd-4-v1_Revolute-9" type="continuous">
        <origin xyz="0.020000001123706285 0.039999999999984936 0.019999999181395153" rpy="-3.1415926535897927 0.0126328732654071 -2.226143245893908e-15" />
        <parent link="5DOF_V2-v1_Ledd-4-v1" />
        <child link="5DOF_V2-v1_Ledd5-v1" />
        <axis xyz="-1.7347234759758815e-18 -1.0 0.0" />
    </joint>
    <joint name="5DOF_V2-v1_Ledd5-v1_Rigid-11" type="fixed">
        <origin xyz="8.18604810604029e-10 1.1237057151447515e-09 1.3926637620897963e-14" rpy="7.95274871898862e-16 2.5014215493744513e-14 1.5581634535294897" />
        <parent link="5DOF_V2-v1_Ledd5-v1" />
        <child link="5DOF_V2-v1_fryer-complete-v1" />
    </joint>
    <joint name="5DOF_V2-v1_Base_tube-v1_Revolute-13" type="continuous">
        <origin xyz="6.8212102632969615e-15 -1.1416223344440368e-09 5.210245745956854e-10" rpy="1.5707963267948968 0.012632873265397289 1.5707963267948941" />
        <parent link="5DOF_V2-v1_Base_tube-v1" />
        <child link="5DOF_V2-v1_Ledd1-v1" />
        <axis xyz="0.012633 -0.99992 -5.011319891609464e-31" />
    </joint>
    <joint name="5DOF_V2-v1_Ledd2-v1_Revolute-15" type="continuous">
        <origin xyz="3.8774454111489834e-07 0.3299999999999883 0.07499999975316342" rpy="1.570796326794897 -0.012632873265408419 -3.1415926535897913" />
        <parent link="5DOF_V2-v1_Ledd2-v1" />
        <child link="5DOF_V2-v1_Ledd-4-v1" />
        <axis xyz="0.012633 0.99992 2.3493747465131305e-32" />
    </joint>

    
    <!-- Gazebo-tillegg: la Gazebo finne plugin via GAZEBO_PLUGIN_PATH -->
  <gazebo>
    <disableFixedJointLumping>true</disableFixedJointLumping>


    <plugin name="buoyancy" filename="libbuoyancy_plugin.so">
      <fluid_density>1000</fluid_density>
      <surface_z>0.0</surface_z>
      <link name="base_link">
        <waterplane_area>0.4</waterplane_area>
        <height>0.2</height>
        <linear_damping>30.0</linear_damping>
        <angular_damping>30.0</angular_damping>
        <k_righting>50.0</k_righting>
        <cob>
          <x>0</x><y>0</y><z>0.13</z>
        </cob>
      </link>
    </plugin>

  <plugin name="thr_left_force" filename="libgazebo_ros_force.so">
    <ros>
      <namespace>/usv</namespace>
      <remapping>gazebo_ros_force:=/usv/left_thrust</remapping>
    </ros>
    <link_name>thr_left</link_name>
    <force_frame>link</force_frame>   <!-- kraft i thruster-linkens ramme -->
  </plugin>

    <plugin name="thr_right_force" filename="libgazebo_ros_force.so">
        <ros>
        <namespace>/usv</namespace>
        <remapping>gazebo_ros_force:=/usv/right_thrust</remapping>
        </ros>
        <link_name>thr_right</link_name>
        <force_frame>link</force_frame>
    </plugin>

    </gazebo>


    <ros2_control name="usv_hw" type="system">
    <hardware>
        <plugin>gazebo_ros2_control/DefaultSystem</plugin>
    </hardware>

    <!-- Vi styrer yaw-posisjon på begge -->
    <joint name="thr_left_yaw">
      <command_interface name="position"/>
      <state_interface   name="position"/>
      <state_interface   name="velocity"/>
    </joint>
    <joint name="thr_right_yaw">
      <command_interface name="position"/>
      <state_interface   name="position"/>
      <state_interface   name="velocity"/>
    </joint>
  </ros2_control>
</robot>