<?xml version="1.0"?>
<robot name="block" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="block_link">
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="1 0.4 0.2"/></geometry>
      <material name="gray"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="1 0.4 0.2"/></geometry>
    </collision>
  </link>

  <link name="DUMMY"/>

  <joint name="dummy_to_block" type="fixed">
    <parent link="block_link"/>
    <child link="DUMMY"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <gazebo reference="block_link">
    <mu1>0.5</mu1><mu2>0.5</mu2><kp>100000</kp><kd>1</kd>
  </gazebo>

</robot>
